@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="container">
        <div class="row">

           Thanks for regestring property on Homely.co.in. Your property code is @ViewBag.Result
        </div>
    </div>
</section>